#!/bin/sh

[Unit]
Description=chriswedgwood
After=network.target

[Service]
PIDFile=/var/run/chriswedgwood.pid
User=vagrant
Group=vagrant
ExecStart=/bin/bash /home/vagrant/chriswedgwood/deploy/gunicorn_start
Restart=on-abort

[Install]
WantedBy=multi-user.target


