{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
    ]
  }
  ```
-->
<div class="relative py-16 bg-gray-900 overflow-hidden lg:mx-72">
	<div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
	  
	</div>
	<div class="relative px-4 sm:px-6 lg:px-8">
	  <div class="text-lg max-w-prose mx-auto">
		<h1>
		  <span class="mt-2 block text-5xl text-center leading-8 font-extrabold tracking-tight text-yellow sm:text-4xl">{{ page.title }}</span>
		</h1>
		
	  </div>
	  <div class="mt-6 prose prose-indigo prose-lg text-gray-100 mx-auto">
		{{ page.body}}
	  </div>
	</div>
  </div>
  









{% endblock %}