{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<div id="content-wrap">

   	<div class="row">

   		<div id="main" class="eight columns">
             {% for post in blogpages %}

	   		<article class="entry">

					<header class="entry-header">


						<h2 class="entry-title">
							<a href="{% pageurl post %}">{{ post.title }}</a>
						</h2>

						<div class="entry-meta">
							<ul>
								<li>{{ post.date }}</li>

                                {% for category in post.categories.all %}
                             <span class="meta-sep">•</span>
								<li><a href="#" title="" rel="category tag">{{ category.name }}</a></li>

                            {% endfor %}


							</ul>
						</div>

					</header>

					<div class="entry-content">
						<p>{{ post.intro }}</p>
					</div>

				</article> <!-- end entry -->
            {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if blogpages.has_previous %}
            <a href="?page={{ blogpages.previous_page_number }}">previous&nbsp;</a>
        {% endif %}

        <span class="current">
            Page {{ blogpages.number }} of {{ blogpages.paginator.num_pages }}
        </span>

        {% if blogpages.has_next %}
            <a href="?page={{ blogpages.next_page_number }}">&nbsp;next</a>
        {% endif %}
    </span>
</div>

   		</div> <!-- end main -->

   		<div id="sidebar" class="four columns">

   			<div class="widget widget_search">
                  <h3>Search</h3>
                  <form action="#">

                     <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
                     <input type="submit" value="" class="submit-search">

                  </form>
               </div>

            {% include 'blog/blog_category_counts.html' %}





   		</div> <!-- end sidebar -->

   	</div> <!-- end row -->

</div>


{% endblock %}