{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div id="content-wrap">

   	<div class="row">

   		<div id="main" class="eight columns">

   			<article class="entry">

					<header class="entry-header">

						<h2 class="entry-title">
							{{ page.title }}
						</h2>

						<div class="entry-meta">
							<ul>
								<li>{{ post.date }}</li>

                                {% for category in page.categories.all %}
                             <span class="meta-sep">•</span>
								<li><a href="#" title="" rel="category tag">{{ category.name }}</a></li>

                            {% endfor %}
							</ul>
						</div>

					</header>



					<div class="entry-content">
					{{ page.body }}
                    </div>

					 {% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
{% endif %}
<p><a href="{{ page.get_parent.url }}">Return to blog</a></p>


				</article>




   		</div> <!-- main End -->

   		<div id="sidebar" class="four columns">

   			<div class="widget widget_search">
                  <h3>Search</h3>
                  <form action="#">

                     <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
                     <input type="submit" value="" class="submit-search">

                  </form>
               </div>

   			{% include 'blog/blog_category_counts.html' %}





   		</div> <!-- end sidebar -->

  		</div> <!-- end row -->

   </div>













{% endblock %}