# App Name
app_name: {{app_name}}

# Deployer User and Groups
deployer_user: {{deployer_user}}
deployer_group: {{deployer_group}}

db_user: {{ db_user}}

# SSH Keys Directory
ssh_dir: '~/.ssh'

# DB Configuration
db_url: postgresql://{{deployer_user}}:{{db_password}}@localhost/{{app_name}}

login_password: {{db password}}
login_host: {{db host }}
login_user: {{db login}}
port: {{db port}}

db_password: {{db password}}
db_name: "{{ db name }}"
db_user: "{{ db user }}"

# Application Dependencies Setup
venv_dir: '/home/{{ deployer_user }}/envs/{{ app_name }}'
venv_python: '{{ venv_dir }}/bin/python3.6'

# Remote Server Details
server_ip: 165.22.122.187
wsgi_server_port: 80

# Deploy Dir in App Directory
deploy_dir: '{{ app_dir }}/deploy'

# WSGI Vars
django_wsgi_module: config.wsgi
django_settings_module: config.settings.production
django_secret_key: 'THISISTHESECRETANDMUSTBEGENERATED'
database_url: '{{ db_url }}'


# Github Code's Repo URL
code_repository_url: git@github.com:chriswedgwood/chriswedgwood.git

# App Directory
app_dir: /home/{{ deployer_user }}/{{app_name}}